<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>BOOL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ClassMethod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Dependence.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Encapsulation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Inheritance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>MultiFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MultiFile2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MultiObjectMemManagement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>NSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ObjectAndFunction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ObjectAndMethod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>autorelease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>property2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>protocol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>self.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>setMethodMemManagement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BA888C31C1BD82300698C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB776E11C0B3943001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB776EF1C0CA850001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB776FA1C0DFA63001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB777051C0E0077001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB777101C0FA4EE001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB7771B1C0FA7C9001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB777261C134750001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB777311C13F14F001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB777481C141808001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB777591C142991001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB777671C1442E3001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB777781C1478F9001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB777861C15BE6D001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB7779A1C172EF3001B83C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB961F21C1F077F0031368F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB961FD1C1F1F1F0031368F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBFDF091C1D056D005D6A0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBFDF1A1C1D60B4005D6A0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBFDF2B1C1D710D005D6A0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBFDF391C1D9038005D6A0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBFDF471C1DC982005D6A0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BEC96581C1C1B1500F125EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BEC96661C1C7C7A00F125EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
