<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Exercise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FirstCProgram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Functions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Include.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Operator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>arrayAndFunction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>char.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>digit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>header.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>maze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>variable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B371E0A1BF0F125004299B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B5BF0031BF38807002E0957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B64422E1BF8D53C004DF0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6D715E1BEF227800953A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6D716C1BEF283000953A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B86E1D51BF77133006C3BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCA96C71BF78A5D009133B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD52DBA1BF82EF200F35151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD52DC51BF86CA300F35151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD8BA5B1BF4CF2A0069A35E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD8BA661BF4F37E0069A35E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BD8BA781BF627670069A35E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
